<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order View</title>
</head>
<body>


<th:block>

    <p> Пользователь:<b th:text="${order.getUser().getName()}"></b></p>
    <p> Адрес : <b th:text="${order.getAddress()}"></b></p>
    <p> Дата заказа:<b th:text="${order.getOrderDate()}"></b></p>
    <div th:each="orderItem : ${order.getOrderedProducts()}">
        <p> Название товара :<b th:text="${orderItem.getProduct().getName()}"> </b></p>
        <p> Количество товара : <b th:text="${orderItem.getCount()}"></b></p>
        <p> Цена : <b th:text="${orderItem.getProduct().getPrice() * orderItem.getCount()}"></b></p>
    </div>

    <p> Общая сумма : <b th:text="${sum}"></b> </p>
</th:block>

<form th:action="@{/order/view}" th:object="${order}" method="post">
    <input type="hidden" name="orderId" th:value="${order.id}">

    <div th:if="${user.role.equals(user.role.ADMIN)}">
        <select name="status">
            <option th:each="status : ${statuses}" th:value="${status}" th:text="${status.name()}"></option>
        </select>
        <button type="submit">Изменить статус</button>
    </div>


    <div th:if="${user.role.equals(user.role.USER)}">
       <p> Статус:<b th:text="${order.status}"></b></p>
    </div>



</form>

</body>
</html>