<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>


<th:block>


    <h3>Данные пользователя:</h3>
    <p> Имя : <b th:text="${user.getName()}"></b></p>
    <p> Фамилия :<b th:text="${user.getLastName()}"></b></p>


    <div th:if="${user.getOrders().isEmpty()}">
        <b>Заказов нет</b>
    </div>

    <div th:if="${!user.getOrders().isEmpty()}">
        <h3>Заказы:</h3>
        <div th:each=" order : ${user.getOrders()}">
            <a th:href="@{/order/view(orderId=${order.getId()})}" th:text="${order.getId()}"></a>
        </div>

    </div>


    <a href="#" onclick="document.getElementById('logout-form').submit();">
        <input type="submit" value="Logout"/>
    </a>

    <form id="logout-form" method="post" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>





</th:block>

</body>
</html>
