<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Product Form</title>
</head>
<body>

<h2>Create Product</h2>

<form th:action="@{/products/create}" method="post">
    <input type="text" name="name" placeholder="Название">
    <input type="number" name="price" placeholder="Цена">

    <select name="categoryId">
        <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>

    <button type="submit">Submit</button>
</form>



</body>
</html>

