<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

<form name="f" method="post" th:action="@{/auth/login}">
    <label for="login">Введите имя пользователя:</label>
    <input type="text" name="login" id="login">
    <br/>
    <label for="password">Введите пароль:</label>
    <input type="password" name="password" id="password">
    <br/>
    <input type="submit" value="Login">
</form>

<div th:if="${param.error}" class="error-message">
    <p th:text="${param.error}"></p>
</div>



</body>
</html>
